.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none !important;
}

.pagination-link {
  align-items: center;
  border: 1px solid #ccc;
  color: inherit;
  display: flex;
  height: 50px;
  justify-content: center;
  min-width: 50px;
  text-decoration: none;
  width: 50px;
}

.pagination-item:not(:first-child) .pagination-link {
  border-left: 0;
}

.pagination-item.active .pagination-link {
  background: #333;
  color: #fff;
}
