.user-info {
  text-align: center;
  color: #fff;
}

.user-info__header {
  background-color: rgb(44, 44, 44);
  padding: 3rem;
}

.user-info__img {
  width: 15rem;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.384);
}

.user-info__name {
  text-align: center;
}

.user-info__name--link {
  text-decoration: none;
  color: #fff;
}

.user-info__bio {
  font-size: 1.3rem;
  max-width: 70%;
  margin: 0 auto;
}

.user-info__repos-info {
  background-color: #000;
}

.user-info__repos-info__list {
  margin: 0;
  padding: 0.8rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.384);
}

.user-info__repos-info__list__item {
  font-size: 1.1rem;
}
