.spin-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
}