.search-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #ccc;
  height: 20px;
  border-radius: 40px;
  padding: 10px;
}

.search-box .search-box__input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #000;
  font-size: 16px;
  transition: 0.5s;
  line-height: 20px;
  width: 0px;
}

.search-box:hover .search-box__input {
  width: 240px;
  padding: 0 6px;
}

.search-box .search-box__btn {
  color: #000;
  float: right;
  width: 25px;
  height: 25px;
  transition: 0.4s;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.search-box .search-box__btn i {
  font-size: 20px;
}

.search-box:hover .search-box__btn {
  background: #fff;
}
