.actions {
  display: flex;
}

.actions__btn {
  flex: 1;
  padding: 1.5rem 0;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.actions__btn:first-child {
  border-right: 1px solid #000;
}

.actions__btn--active {
  background-color: rgb(44, 44, 44);
  color: #fff;
}
