.repositories__section__title {
  text-align: center;
  color: #fff;
  margin: 0;
  background: #000;
  padding: 1.6rem 0;
  position: relative;
  text-transform: uppercase;
}

.repositories__section__title::after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  /* bottom: 4px; */
  bottom: 50%;
  right: 0;
  /* transform: translateX(-50%); */
}

.repositories__section__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  /* bottom: 4px; */
  bottom: 50%;
  left: 0;
  /* transform: translateX(-50%); */
}

.repositories-list {
  list-style: none;
  padding: 0;
}

.repositories-list__item:not(:last-child) {
  border-bottom: 1px solid #e3e3e3;
}

.repositories-list__item--link {
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
